<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZoneX Shop</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="themify-icons/themify-icons.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">

        <link rel="stylesheet" href="css/shoppingCart.css">
        <link rel="stylesheet" href="css/product.css">
        <link rel="stylesheet" href="css/node.css">
        <link rel="stylesheet" href="css/animation.css">
        <link rel="stylesheet" href="css/body.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <div class="main-box">
            {{> header}}
            {{{ body }}}
            {{> footer}}
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/items.js"></script>
        <script src="js/shoppingCart.js"></script>
        <script src="js/allProduct.js"></script>
        <script src="js/product.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>