<div class="body-product">
  <div class="body-container">
    <div class="featured-product">
      <div class="container">
        <h3 class="featured-product__title">Featured Products</h3>
        <div class="featured-product__list">
          <div class="featured-owl-carousel owl-carousel">

          </div>
        </div>
        <a href="allProduct" class="btn-viewallproduct"> View All Products </a>
      </div>
    </div>
  </div>
</div>

<div class="banner-collection container">
  <div class="banner-collection-item">
    <div class="banner-collection__content">
      <h5>New! Looks We Love</h5>
      <h2>Nature Collection Wild Florals</h2>
      <a class="button-collection" target="_self" href="#">
        <span>See Collection</span>
      </a>
    </div>
  </div>
</div>

<div class="more-product">
  <div class="product-container">
    <h3 class="more-product__title">More you need to see</h3>
    <div class="more-product__list">
      <div class="more-owl-carousel owl-carousel"></div>
    </div>
  </div>
</div>

<div class="info-instagram">
  <div class="info-instagram-row container">
    <div class="info-instagram-col">
      <ul class="info-instagram-list">
        <li class="info-instagram-item">
          <div class="poster-in">
            <a href="" class="poster-in-link"> Fashion </a>
            <a href="" class="poster-in-link"> Photography </a>
            <a href="" class="poster-in-link"> Shoppings </a>
            <a href="" class="poster-in-link"> Lifestyle </a>
          </div>
          <div class="info-item__title">
            <a href="">
              Outsmart Today’s Downpour With These 14 Rainy Day–Proof Outfits
            </a>
          </div>
          <div class="info-item__info">
            <span class="creat-at"> Feb 6, 2020 </span>
          </div>
        </li>
        <li class="info-instagram-item">
          <div class="poster-in">
            <a href="" class="poster-in-link"> Fashion </a>
            <a href="" class="poster-in-link"> Photography </a>
            <a href="" class="poster-in-link"> Shoppings </a>
            <a href="" class="poster-in-link"> Lifestyle </a>
          </div>
          <div class="info-item__title">
            <a href=""> Fashion Month-Ready In Konte Studio FW2017 </a>
          </div>
          <div class="info-item__info">
            <span class="creat-at"> Feb 6, 2020 </span>
          </div>
        </li>
        <li class="info-instagram-item">
          <div class="poster-in">
            <a href="" class="poster-in-link"> Fashion </a>
            <a href="" class="poster-in-link"> Photography </a>
            <a href="" class="poster-in-link"> Shoppings </a>
            <a href="" class="poster-in-link"> Lifestyle </a>
          </div>
          <div class="info-item__title">
            <a href="">
              Fashion Girls Are Secretly Shopping at Boden for This Item
            </a>
          </div>
          <div class="info-item__info">
            <span class="creat-at"> Feb 6, 2020 </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="info-instagram-col">
      <ul class="instagram-wrap-list">
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins1.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins2.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins3.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins4.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins5.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
        <li class="instagram-wrap-item">
          <div
            style="background: url('img/instagram/ins6.jpg') no-repeat"
            class="instagram-wrap-image"
          ></div>
          <a href="" class="instagram-wrap-link">
            <i class="ti-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>