<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="app-container">
        <div class="header">
            {{> header}}
        </div>

        <div class="footer">
            {{{ body }}}
        </div>
    </div>

    <script src="js/Validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            selector: '.form-message',
            props: [
                Validator.Required('#fullname', 'Vui lòng nhập vào tên đầy đủ !'),
                Validator.Required('#email', 'Vui lòng nhập vào Email !'),
                Validator.Email('#email'),
                Validator.Required('#password', 'Vui lòng nhập vào mật khẩu !'),
                Validator.Length('#password', 6),
                Validator.ConfirmPassword('#password_confirmation', () => {
                    return document.querySelector('#form-1 #password').value
                }, 'Mật khẩu nhập lại không chính xác')
            ],
            submit() 
        });
        Validator({
            form: '#form-2',
            selector: '.form-message',
            props: [
                Validator.Required('#email', 'Vui lòng nhập vào Email !'),
                Validator.Email('#email'),
                Validator.Required('#password', 'Vui lòng nhập vào mật khẩu !'),
                Validator.Length('#password', 6)
            ],
            submit()
        });
    </script>

</body>
</html>