.featured-product {
  padding: 90px 0;
}
.featured-product__title {
  font-size: 32px;
  line-height: 40px;
  color: #151515;
  font-weight: 700;
  margin-bottom: 60px;
}
.featured-product__item {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
.product-action-box {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white-color);
  padding: 0 15px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.15s;
}
.featured-product__item:hover .product-action-box {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.15s ease-in;
}
.product-action-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn-addcart {
  font-size: 15px;
  color: #151515;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
}
.btn-addcart:hover {
  color: rgba(21, 21, 21, 0.7);
}
.action-box__list {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.action-box__item {
  margin-left: 10px;
}
.action-box__link {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
.action-box__link i {
  font-size: 14px;
  font-weight: bold;
  color: #151515;
}
.product-rating {
  list-style: none;
  display: flex;
  align-items: center;
}
.product-rating-star {
  margin-right: 5px;
}
.product-rating-star i {
  font-size: 12px;
}
.product-rating-star.active i {
  color: #ffe246;
}
.featured-product__img {
  position: relative;
}
.featured-product__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 0;
  transform-origin: top;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  z-index: 4;
}

.featured-product__item:hover .featured-product__img::after {
  height: 100%;
}

.featured-product__content {
  padding: 15px 15px 20px 15px;
}

.featured-product__name {
  font-size: 13px;
  color: #454545;
  font-weight: 500;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.featured-price {
  margin-top: 6px;
  display: flex;
  align-items: baseline;
}
.featured-product__price {
  display: inline-block;
  font-size: 13px;
  color: #151515;
  font-weight: 700;
  margin-right: 10px;
}
.featured-product__oldprice {
  display: inline-block;
  font-size: 14px;
  color: #999999;
  font-weight: 700;
  text-decoration: line-through;
}

.btn-viewallproduct {
  display: inline-flex;
  min-width: 164px;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: 2px solid #151515;
  font-size: 13px;
  padding: 0 30px;
  text-transform: capitalize;
  position: relative;
  left: 50%;
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-50%);
  color: #151515;
}
.btn-viewallproduct:hover {
  background-color: #000;
  color: white;
}
.featured-product__img img {
  width: 95% !important;
}

.body-product {
  width: 100%;
  height: 100%;
  display: block;
}
.body-container {
  max-width: 100%;
  width: 1400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* banner */
.banner-collection {
  width: 100%;
  height: 100%;
  display: block;
}
.banner-collection-item {
  max-width: 100%;
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background: url("../img/banner.jpg");
  object-fit: cover;
  padding: 150px 0;
  background-size: cover;
  text-align: center;
}
.banner-collection__content h5 {
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.banner-collection__content h2 {
  font-size: 72px;
  color: #fff;
  line-height: 1.2;
  font-weight: 1000;
  max-width: 600px;
  margin: 0 auto;
}
.button-collection {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 160px;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
.button-collection:hover {
  background-color: #fff;
  color: #000;
}

/* More Product */
.more-product {
  padding: 90px 0;
  width: 100%;
  height: 100%;
  display: block;
}
.product-container {
  max-width: 100%;
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
.more-product__item {
  cursor: pointer;
}
.more-product__title {
  margin-bottom: 60px;
  font-size: 32px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.more-product__img {
  position: relative;
}
.more-product__img img {
  width: 50%;
}
.more-product__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.3s;
  z-index: 5;
}
.more-product__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s linear;
  z-index: 10;
}
.more-product__name {
  font-size: 13px;
  text-transform: capitalize;
  float: none;
  max-width: 100%;
  font-weight: 500;
  color: #454545;
  line-height: 18px;
}
.more-price {
  margin-top: 5px;
}
.more-product__price {
  font-size: 13px;
  color: #151515;
  font-weight: 700;
}
.more-product__oldprice {
  text-decoration: line-through;
  color: #999;
  font-weight: 500;
  font-size: 13px;
  margin-left: 5px;
}
.more-product__item:hover .more-product__price,
.more-product__item:hover .more-product__name {
  color: var(--white-color);
}
.more-product__item:hover .more-product__img::after {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all linear 0.3s;
}
.more-product__item:hover .more-product__content {
  background-color: transparent;
}
.sale-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 700;
  font-size: 10px;
  background: #151515;
  color: rgb(255, 255, 255);
  border: none;
  height: 25px;
  min-width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  padding: 0 10px;
  text-transform: uppercase;
}

/* instagram */
.info-instagram {
    width: 100%;
    height: 100%;
    display: block;
}
.info-instagram-row {
  width: 1400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.info-instagram-col {
  width: 50%;
  padding: 0 15px;
}
.info-instagram-list {
  list-style: none;
}
.info-instagram-item {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #454545;
}
.info-instagram-item:last-child {
  margin-bottom: 0;
  border-bottom: unset;
}
.poster-in-link {
  text-decoration: none;
  color: #151515;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
}
.poster-in-link:hover {
  color: rgba(21, 21, 21, 0.7);
}
.poster-in-link::after {
  content: ".";
}
.info-item__title {
  margin: 10px auto 30px;
}
.info-item__title a {
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  color: #151515;
  font-size: 24px;
  position: relative;
  font-weight: 500;
  max-width: 600px;
}
.creat-at {
  text-transform: uppercase;
  font-size: 10px;
  width: 100%;
  margin-top: 0;
  color: #959595;
  display: inline-block;
  font-weight: bold;
  line-height: 24px;
}

.instagram-wrap-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.instagram-wrap-item {
  width: calc(100% / 3);
  position: relative;
}
.instagram-wrap-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;    
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  z-index: 5;
}
.instagram-wrap-item:hover::after {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.instagram-wrap-item:hover .instagram-wrap-link {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
}
.instagram-wrap-image {
  width: 100%;
  height: 100%;
}
.instagram-wrap-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.instagram-wrap-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  z-index: 10;
}
.instagram-wrap-link:hover {
  background-color: #454545;
  padding: 5px;
  transition: all 0.3s linear;
}
.instagram-wrap-link i {
  position: relative;
  font-size: 16px;
  color: #fff;
  z-index: 11;
}
