<footer>
  <div class="footer-top">
    <div class="footer-container">
      <div class="footer-top-col l-6">
        <ul class="footer-top-left">
          <li class="l-6">
            <h3 class="footer-top-left__title">CUSTOMER SERVICE</h3>
            <ul class="footer-left-sublist">
              <li class="footer-left-subitem">
                <span>Phone:</span>
                <a href="" class="footer-left-sublink">+866.597.2742</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">Live chat</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">About Us</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">Terms & Conditions</a>
              </li>
            </ul>
          </li>
          <li class="l-6">
            <h3 class="footer-top-left__title">COMPANY</h3>
            <ul class="footer-left-sublist">
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">What We Do</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">Available Services</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">Latest Posts</a>
              </li>
              <li class="footer-left-subitem">
                <a href="" class="footer-left-sublink">FAQs</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-top-col l-6">
        <div class="footer-top-right">
          <h3 class="footer-top-right__title">OUR NEWSLETTER</h3>
          <p>Join our list and get 15% off your first purchase!</p>
          <form action="">
            <div class="footer-contact">
              <input type="text" />
              <button>Subscribe</button>
            </div>
          </form>
          <p class="attention-footer">*Don’t worry we don’t spam</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-info">
      <ul class="footer-info__list">
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">Who We Are?</a>
            </li>
            <li class="footer-info__subitem"><a href="">Carrers</a></li>
            <li class="footer-info__subitem">
              <a href="">Safety Recalls</a>
            </li>
          </ul>
        </li>
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">Design Trade</a>
            </li>
            <li class="footer-info__subitem"><a href="">Shipping</a></li>
            <li class="footer-info__subitem">
              <a href="">Business Sales</a>
            </li>
          </ul>
        </li>
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">Gift Cards</a>
            </li>
            <li class="footer-info__subitem"><a href="">Policy</a></li>
            <li class="footer-info__subitem">
              <a href="">Return Policy</a>
            </li>
          </ul>
        </li>
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">My Account</a>
            </li>
            <li class="footer-info__subitem"><a href="">Wishlist</a></li>
            <li class="footer-info__subitem">
              <a href="">Your Order</a>
            </li>
          </ul>
        </li>
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">Email Preferences</a>
            </li>
            <li class="footer-info__subitem"><a href="">FAQs</a></li>
            <li class="footer-info__subitem">
              <a href="">Manage Account</a>
            </li>
          </ul>
        </li>
        <li class="footer-info__item">
          <ul class="footer-info__sublist">
            <li class="footer-info__subitem">
              <a href="">Term of Use</a>
            </li>
            <li class="footer-info__subitem"><a href="">Blog</a></li>
            <li class="footer-info__subitem"><a href="">Sitemap</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-container">
      <div class="copy-right">
        <h3>©2021 Design by <span>Htnica.yh</span></h3>
      </div>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="" class="footer-social-link"><i class="ti-facebook"></i></a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-link"><i
              class="ti-twitter-alt"
            ></i></a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-link"><i
              class="ti-pinterest-alt"
            ></i></a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-link"><i class="ti-pinterest"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="overlay"></div>