<div class="box-container">
  <div class="heading__top">
    <div class="heading fixed">
      <input type="checkbox" class="heading__check" id="heading--check" />
      <div class="heading__slogan">
        <div class="slogan--text">
          <p>FREE DELIVERY FROM $60 AND FREE RETURNS</p>
        </div>
        <div class="slogan--icon">
          <label for="heading--check" class="ti-close"></label>
        </div>
      </div>
      <div class="box-navbar">
        <div class="heading__navbar">
          <div class="navbar flex">
            <div class="navbar__logo">
              <a href="/"><img src="img/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar__list flex">
              <div class="list__One list">Home
                <div class="one--content">
                  <li><a href="">Home Minimal</a></li>
                  <li><a href="">Home Season</a></li>
                  <li><a href="">Home Classic</a></li>
                  <li><a href="">Home Collection</a></li>
                  <li><a href="">Home Categories</a></li>
                  <li><a href="">Home Best Selling</a></li>
                  <li><a href="">Home Strong</a></li>
                  <li><a href="">Home LookBook</a></li>
                </div>
              </div>
              <div class="list__Two list">Shop
                <div class="two--content">
                  <div class="two--contain">
                    <div class="content__one">
                      <a href="">
                        <p>KIDS</p>
                      </a>
                      <div class="list--text">
                        <li><a href="">Blazer</a></li>
                        <li><a href="">Cardigan</a></li>
                        <li><a href="">Dress Pants</a></li>
                        <li><a href="">Shorts</a></li>
                      </div>
                    </div>
                    <div class="content__two">
                      <a href="">
                        <p>BLAZER</p>
                      </a>
                      <div class="list--text">
                        <li><a href="">Jeans</a></li>
                        <li><a href="">Cardigan</a></li>
                        <li><a href="">Dress</a></li>
                        <li><a href="">Pants</a></li>
                      </div>
                    </div>
                    <div class="content__three">
                      <a href="">
                        <p>CARDIGAN</p>
                      </a>
                      <div class="list--text">
                        <li><a href="">Blazer</a></li>
                        <li><a href="">T-Shirt</a></li>
                        <li><a href="">Cardigan</a></li>
                        <li><a href="">Shirts</a></li>
                      </div>
                    </div>
                    <div class="content__four">
                      <a href="">
                        <p>POST DAILY</p>
                      </a>
                      <div class="list--image">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list__Three list">Blog
                <div class="three--content">
                  <div class="three--contain">
                    <div class="content__one">
                      <a href="">
                        <p>CATEGORIES</p>
                      </a>
                      <div class="list--text">
                        <li><a href="">Blazer</a></li>
                        <li><a href="">Cardigan</a></li>
                        <li><a href="">Dress Pants</a></li>
                      </div>
                    </div>
                    <div class="content__two">
                      <a href="">
                        <p>PAGES</p>
                      </a>
                      <div class="list--text">
                        <li><a href="">Blazer</a></li>
                        <li><a href="">Cardigan</a></li>
                      </div>
                    </div>
                    <div class="content__three">
                      <a href="">
                        <p>RECENT POST</p>
                      </a>
                      <div class="list--image">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list__Four list">Pages
                <div class="four--content">
                  <li><a href="">Contact</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="https://facebook.com/hyacinth.hieu.1" target="_blank">Blog Single</a></li>
                  <li><a href="">Our Team</a></li>
                </div>
              </div>
            </div>
            <div class="navbar__icon flex">
              <div class="icon__One icon-child">
                <div class="ti-shopping-cart icons">
                  <p id="count">0</p>
                  <div class="contain-1">
                    <div class="box-retangle"></div>
                    <div class="box-items-1">
                      <div class="items__contain">
                        <div class="box-1">
                          <div class="box-child">
                            <div class="box-child-1">
                              <span class="text-child-1">0 </span><span
                                class="text-child-2"
                              >Items in Cart</span>
                            </div>
                            <div class="box-child-2">
                              <p class="text-child-3">Cart Subtotal :</p>
                              <p class="text-child-4"></p>
                            </div>
                          </div>
                          <div class="btn-child">
                            <a href=""><button type="submit">Proceed to Checkout</button></a>
                          </div>
                        </div>
                        <div class="box-2">
                          <div class="child">

                          </div>
                        </div>
                        <div class="box-3">
                          <div class="btn-child">
                            <a href=""><button type="submit">View and Edit Cart</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="icon__Two icon-child">
                <div class="ti-search icons">
                  <div class="contain-2">
                    <div class="box-retangle"></div>
                    <div class="box-items-2">
                      <input type="text" placeholder="Search..." />
                      <a href="">
                        <p>Advanced Search</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="icon__Three icon-child">
                <div class="ti-user icons">
                  <div class="contain-3">
                    <div class="box-retangle"></div>
                    <div class="box-items-3">
                      <div class="item-1 items">
                        <span>Home LookBook</span><i class="ti-angle-down"></i>
                        <div class="item-contain">
                          <ul>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                            <li><a href="">Home Season</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-2 items">
                        <a href="">
                          <p>My Account</p>
                        </a>
                      </div>
                      <div class="item-3 items">
                        <a href="">
                          <p>My Wishlist</p>
                        </a>
                      </div>
                      <div class="item-4 items">
                        <a href="/sign-up">
                          <p>Sign In</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ti-align-justify icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="owl-carousel slide-owl">
    <div class="item-image">
      <img src="img/slider1.jpg" alt="" />
      <div class="slider-content">
        <h3 class="slider-content__title">Jacket for Women</h3>
        <p class="slider-content__text">Shopping online</p>
        <a href="" class="slider-content__btn">>> DISCOVER NOW</a>
      </div>
    </div>
    <div class="item-image">
      <img src="img/slider2.jpg" alt="" />
      <div class="slider-content">
        <h3 class="slider-content__title">Jacket for Women</h3>
        <p class="slider-content__text">Shopping online</p>
        <a href="" class="slider-content__btn">>> DISCOVER NOW</a>
      </div>
    </div>
    <div class="item-image">
      <img src="img/slider3.jpg" alt="" />
      <div class="slider-content">
        <h3 class="slider-content__title">Jacket for Women</h3>
        <p class="slider-content__text">Shopping online</p>
        <a href="" class="slider-content__btn">>> DISCOVER NOW</a>
      </div>
    </div>
  </div>
</div>